@media screen and (max-width:1200px) {
    .parent {
        gap: 1px;
        width: 1000px;
    }

}

@media screen and (max-width:1000px) {
    .parent {
        gap: 1px;
        width: 800px;
    }

    .w {
        width: 300px;
    }

}

@media screen and (max-width:820px) {
    .parent {
        gap: 1px;
        width: 700px;
    }

    .w {
        width: 200px;
    }

}

@media screen and (max-width:766px) {
    .parent {
        gap: 20px;
        width: 550px;
    }

    .w {
        width: 400px;
    }

    .mid {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .im {
        width: 90%;
        height: 100%;
    }

    .ro {
        gap: 10px;
    }
}

@media screen and (max-width:600px) {
    .parent {
        gap: 20px;
        width: 500px;
    }

    .w {
        width: 300px;
    }

    .mid {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .btnn {
        height: 60px;
        width: 300px;
    }

}

@media screen and (max-width:500px) {
    .parent {
        gap: 20px;
        width: 350px;
    }

    .w {
        width: 250px;
    }

    .mid {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .btnn {
        height: 60px;
        width: 250px;
    }

}

@media screen and (max-width:1080px) {
    .seconds {
        margin-left: 190px;
    }

}

@media screen and (max-width:910px) {
    .mx-auto {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

}

@media screen and (max-width:860px) {
    .seconds {
        margin-left: 190px;
        gap: 0px;
    }

}
@media screen and (max-width:840px) { .nono{display: none !important;}}
    @media screen and (max-width:670px) {.raw{flex-direction: column !important; gap: 10px;}
        
    }
    @media screen and (max-width:400px) {.cir{width: 80%;}
        
    }
